[edit]
    command = "nvim"

[diff]
    command = "nvim"
    args = ["-dR", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }}  .Target {{ "}}" }}"]

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

